h1 {
  font: 30px "Lucida Console", Courier, monospace;
  padding-top: 13px; }

#menu {
  list-style: none; }
  #menu li {
    display: inline-block;
    padding-top: 16px; }
    #menu li a {
      color: white;
      font-style: italic;
      letter-spacing: 2px;
      padding-right: 20px; }
      #menu li a:hover {
        text-decoration: none;
        background: white;
        color: black; }

.iamge1 {
  margin-top: 56px; }

h2 {
  margin: 26px 0; }

.picture1 {
  margin: 60px 0; }
  .picture1 p {
    margin: 90px 0;
    text-align: center; }

.list-group {
  margin-top: 50px;
  padding: 40px;
  width: 100%; }

.dot {
  margin-bottom: 40px;
  float: right;
  padding: 32px; }
